.login-bg{
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  margin: 0;
  padding: 0;
}

.card{
  border-radius: 1rem; 
  background-color: #ffffff; 
  color: #485B8C;
}

h2, p{
  color: #485B8C;
}

.form-control{
  background-color: #ffffff; 
  color: #485B8C; 
  border: 1px solid #485B8C;
}

.loginBtn{
  background-color: #485B8C; 
  color: white; 
  border: none;
}